body {
  background-color: #123A12;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
  color: white;
}

main {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-image: url("gradient.png");
  background-repeat: repeat-x;

}
h1 {
  font-family: 'Slackey', cursive;
  font-size: 3em;
  color: white;
}
h2 {
  font-family: 'Slackey', cursive;
  font-size: 2em;
  color: white;
  margin-top:10px;
}

.close {
  float: right;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

#content {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height:100%;
}


button {
  border-radius: 14px;
  padding: 4px 20px;
  font-family: 'Slackey', cursive;
  font-size: 1.4em;
  color: white;
  background-color: darkorange;
  border-color: darkorange;
  cursor: pointer;
}

button:focus {
   box-shadow: 0 0 1px darkorange;
   outline: none;
}

#creditsBtn {
  background-color: darkgreen;
  border-color:darkgreen;
}
#roll {
  background-color: darkred;
  border-color: darkred;
}

.modal {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  width:80%;
  padding: 10px;
  padding-bottom:20px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.modal p {
  margin-left:20px;
}



footer {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-image: url("wood.jpg");
  background-size: cover;
  padding: 10px;
  margin: 0;
  border-top:3px solid rgba(0, 0, 0, 0.4);
}

.att {
  font-size: .9em;
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
}
.att a {
  color: yellow;
}


/*sound styles*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: gold;
}

input:focus + .slider {
  box-shadow: 0 0 1px gold;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.label {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  width:180px;
  font-size: 2em;

}


/*Dice selectors*/

.dieSelects{
  font-size: 2em;
  margin-left: 20px;
  margin-bottom: 10px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
}

.dieSelects select {
  font-size: .5em;
  margin-bottom: 10px;
  box-shadow: none;
  padding: 5px 8px;
  cursor: pointer;
}

.dieSelects select:focus {
  outline: none;
}

.delete {
  color: red;
  cursor: pointer;
  margin-bottom: 8px;
}

.save {
  cursor: pointer;
  font-size: .4em;
  margin-bottom: 8px;
  background-color: darkgreen;
  border-color: darkgreen;
}

.save:focus {
  box-shadow: 0 0 1px darkgreen;
  outline: none;
}
.error {
  font-size: .8em;
  color: gold;
}
.hidden {
  display:none;
}

.description {
  margin-bottom: 10px;
  width: 160px;
}
