body {
  background-color: #123A12;
  background-size: cover;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-image: url("gradient.png");
  background-repeat: repeat-x;

}
h1 {
  font-family: 'Slackey', cursive;
  font-size: 3em;
  color: white;
}

#roll {
  width:90px;
  height: 40px;
  border-radius: 10px;
  font-family: 'Slackey', cursive;
  font-size: 1.4em;
  background-color: darkred;
  border-color: darkred;
  color: white;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-image: url("wood.jpg");
  background-size: cover;
  padding: 10px;
  margin: 0;
  border-top:3px solid rgba(0, 0, 0, 0.4);
}

.att {
  font-size: .8em;
  color: darkgreen;
  font-family: sans-serif;
}
.att a {
  color: darkgreen;
}
