html {
  height: 100%;
  color: white;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-flow: column;
  align-items: center;
  height:100%;
  background: #333333;
}

header {
  text-align: center;
  display: block;
  width: 100%;
}

#bar {
  width: 100%;
  height: 20px;
  padding: 10px;
  font-size: 2em;
  text-align: center;
}

.container {
  max-width: 800px;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
}

.square {
  width: 30%;
  height: 40px;
  padding-bottom: 30%;
  margin: 1.66%;
  border-radius: 20px;
}
