html {
  height: 100%;
  color: white;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-flow: column;
  align-items: center;
  height:100%;
  background: #333333;
  margin:0;
  padding:0;
}

header {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: steelblue;
}

h1 {
  text-transform: uppercase;
  font-weight: lighter;
}

#bar {
  width: 100%;
  background-color: #cccccc;
  color: black;
  margin-bottom: 20px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barContainer {
  box-sizing: border-box;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}

.right-container {

}

button {
  height:40px;
  text-transform: uppercase;
  color: black;
  background-color: #cccccc;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
}

button:hover {
  background-color: steelblue;
  color:white;
}

.active {
  background-color: steelblue;
  color: white;
}

.middle {
  margin-top:12px;
}

.container {
  max-width: 800px;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
}

.square {
  width: 30%;

  padding-bottom: 30%;
  margin: 1.66%;
  border-radius: 20px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}

.hidden {
  display:none;
}
